<%- include("../partials/header") %> 
<%- include("../partials/navbar") %>
<div class="container">
  <h5 class="text-center mt-5 mb-3">Post comment</h5>
  <div class="row">
    <form
      method="POST"
      action="/posts/<%= post._id %>/comments"
      style="margin: 0 auto"
      class="col-md-8 col-10"
    >
      <div class="form-group">
        <label for="text">Text:</label>
        <input type="text" class="form-control" aria-describedby="text" name="comment[text]" id="text" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<%- include("../partials/footer") %>
